*.iml
.gradle
/local.properties
/.idea
/.kotlin
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
/app/debug
/app/obfuscation
/sample/release
/sample/debug
/sample/obfuscation
google-services.json
.safedk